[submodule "servers/OpenQueryBI"]
	path = servers/OpenQueryBI
	url = https://github.com/Joao-Alb/OpenQueryBI.git
[submodule "client/benchmark/spider"]
	path = client/benchmark/spider
	url = https://github.com/taoyds/spider
[submodule "client/benchmark/distinct_n"]
	path = client/benchmark/distinct_n
	url = https://github.com/neural-dialogue-metrics/Distinct-N.git
